footer{

    background-color: $dark_gray;
    p{
        font-size: 1.3rem;
        text-align: center;
        width: fit-content;
        display: block;
        margin: auto;
        padding: .4rem;
    }
}